<form id="slideShowFrom" method="post" action="<%='/' + lang + consV.pages.panel.pagesStuff.setSlideShow%>"
encType="multipart/form-data" onsubmit="<%=formOnSubmit%>">

	<div class="form-group mr-0 pr-0 row">
		<label class="Font18px mr-3" for="slideShowFormPage">
			برای صفحه ی
		</label>

		<select id="slideShowFormPage" name="slideShowFormPage" class="custom-select col FontIranSans mr-3" onchange="<%=ATChange%>">
			<option value="home" selected>خانه</option>
		<%for(let key in consV.database.enc)
		{
			if(typeof consV.database.enc[key].CollName != 'undefined')
			{%>
				<option value="portals_<%=consV.database.enc[key].name%>"><%= i18n.__(consV.database.enc[key].title) %></option>
		<% }
		}%>
		</select>
		<label class="Font18px mr-3" for="slideShowFormSN">
			برای اسلایده
		</label>
		<select id="slideShowFormSN" name="slideShowFormSN" class="custom-select col FontIranSans mr-3" onchange="<%=ATChange%>">
			<option value="0" selected>اول</option>
			<option value="1">دوم</option>
			<option value="2">سوم</option>
		</select>
		<label class="Font18px mr-3" for="slideShowFormLang">
			زبان
		</label>
		<select id="slideShowFormLang" name="slideShowFormLang" class="custom-select col FontIranSans mr-3" onchange="<%=ATChange%>">
			<%consV.site.langs.inArray.forEach( (el , i) =>
			{%>
				<option value="<%=el%>" <%if(i == 0){%>selected<%}%> ><%=i18n.__(consV.site.langs[el].name)%></option>
			<%});%>
		</select>
	</div>
	<hr>
	
	<div class="form-group">
		<label for="file" class="custom-file">
			انتخاب عکس
		</label>			
		<input id="file" name="file" class="form-control-file" type="file" value="انتخاب">
	</div>
	<div class="form-group mr-0 pr-0 row">
		<label class="col-12 pr-0 Font18px">
			یک ،دو یا حداکثر سه کلمه که عکس رو توصیف کنه
		</label>
		<input id="slideShowFormImageAlt1" name="slideShowFormImageAlt1" class="col-3 ml-3 form-control form-control-sm" type="text">
		<input id="slideShowFormImageAlt2" name="slideShowFormImageAlt2" class="col-3 ml-3 form-control" type="text">
		<input id="slideShowFormImageAlt3" name="slideShowFormImageAlt3" class="col-3 ml-3 form-control" type="text">
	</div>

	<div class="form-group">
		<label class="Font18px" for="slideShowFormTitle">
			تیتر اسلاید
			<%- include( consV.layouts.questionMark , {QMTitlle: "تیتر اسلاید شو" , QMContent: "متنی که پایین عکس نمایش داده میشه. در صورتی که چیزی ننویسید، متن درخت نمایش، در نظر گرفته میشه."} ) %> 
		</label>
		<input id="slideShowFormTitle" name="slideShowFormTitle" class="form-control" type="text">
	</div>
	<div class="form-group">
		<label class="Font18px" for="slideShowFormTitle">
			انتخاب مقاله
		</label>
		<hr>
		<%- include(consV.layouts.panel.chooseNodeTree , {})%>
	</div>
	<button id="slideShowFormSubmit" type="submit" class="btn btn-primary col-md-3">ثبت</button>
</form>